@import 'tailwindcss';

:root {
    --background: #030712;
    --navbar: #13151c;
    --foreground: #364153;
    --primary: #C10007;
    --secondary: #9F0712;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary); 
    --color-navbar: var(--navbar);
}

/******************************************************************************/

.focusable {
    @apply focus:outline-none focus:ring-2 focus:ring-white;
}

.clickable {
    @apply cursor-pointer;
}

.transitioning {
    @apply transition duration-100 ease-in-out;
}

/******************************************************************************/

.radio-input {
    @apply mr-2 appearance-none w-4 h-4 border-3 border-white rounded-full -mb-[1px] checked:bg-primary 
}

.text-input {
    @apply p-2 rounded-lg border border-white w-full
}

.file-input{
    @apply absolute right-2 rounded-full h-7 p-1
}

.add-button {
    @apply py-2 px-4 rounded-lg text-3xl text-white border-2 border-primary hover:text-gray-950 hover:bg-primary 
}

.submit-button {
    @apply py-2 px-4 rounded-lg text-white bg-primary hover:bg-secondary
}

.close-button {
    @apply flex p-1 -mr-1 rounded-full hover:bg-secondary
}